<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Rubik:wght@300;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>

    <div class="container-title_principal">
      <p>Agencia de Educación Postsecundaria de Medellín - Sapiencia</p>
      <p class="not-margin">Comprobante de Nómina No [consecutivo colilla]</p>
    </div>

    <div class="container-img_infoBanco">
      <div>
        <img src="data:image/png;base64, {{logoSapiencia}}" />
      </div>
      <div class="container-info_bank">
        <p>NIT 900.602.106</p>
        <p>De [Fecha inicio del periodo] Al [Fecha fin del periodo]</p>

        <p>Consignado en [Nombre del Banco] &nbsp;&nbsp; Cuenta No. [Número
          cuenta bancaria]</p>
      </div>
    </div>

    <div>
      <table class="table-info_colilla">
        <tbody>
          <tr>
            <td>
              <p>Número documento</p>
              <p>[Número documento]</p>
            </td>
            <td colspan="5">
              <p>Nombre completo</p>
              <p>[Nombre completo]</p>
            </td>
            <td>
              <p>Sueldo básico</p>
              <p>[Sueldo básico]</p>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <p>Cargo</p>
              <p>[Nombre del cargo]</p>
            </td>
            <td colspan="4">
              <p>Dependencia</p>
              <p>[Nombre de la dependencia]</p>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <p>Descripción concepto</p>
            </td>
            <td colspan="2">
              <p>Cantidad</p>
            </td>
            <td>
              <p>Devengado</p>
            </td>
            <td colspan="2">
              <p>Deducido</p>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <p>[detalle de lo devengado y detalle deducido, primero se lista
                lo devengado y luego lo deducido]</p>
            </td>
            <td colspan="2">
              <p>[Nro. de días]</p>
            </td>
            <td>
              <p>[Valor en pesos de lo devengado]
              </p>
            </td>
            <td colspan="2">
              <p>[Valor en pesos de lo Deducido]</p>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <p>Firma</p>
            </td>
            <td colspan="2">
              <p>Totales</p>
            </td>
            <td>
              <p>[Sumatoria devengado]</p>
            </td>
            <td colspan="2">
              <p>[Sumatoria deducido]</p>
            </td>
          </tr>
          <tr>
            <td colspan="6">
              <p>Neto a Pagar [valor en letras del total (Sumatoria devengado-
                Sumatoria deducido)]
              </p>
            </td>
            <td>
              <p>[Valor en nro. del total]</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>