<div
  style="display: flex;
      justify-content: center;
      width: 100vw;
      margin: 0;"
>
  <table
    width="645"
    style="text-align: start;color: rgb(0, 0, 0);background-color: rgb(255, 255, 255);font-size: 14px;border: none;border-collapse: collapse;"
  >
    <tbody>
      <tr>
        <td width="208" style="border: 1pt solid windowtext;">
          <p
            align="center"
            style="text-align: center;color: black;font-size: 9pt;font-family: Arial, Helvetica, sans-serif;"
          >Elabor&oacute;: Profesional Universitario-Talento Humano</p>
        </td>
        <td
          width="220"
          style="border-left: none;border-right: 1pt solid windowtext;border-top: 1pt solid windowtext;border-bottom: 1pt solid windowtext;"
        >
          <p
            style="text-align: justify;color: black;font-size: 9pt;font-family: Arial, Helvetica, sans-serif;"
          >Revis&oacute;:&nbsp;Subdirector Administrativo, Financiero y de apoyo
            a la gesti&oacute;n</p>
        </td>
        <td
          width="217"
          style="border-left: none;border-right: 1pt solid windowtext;border-top: 1pt solid windowtext;border-bottom: 1pt solid windowtext;"
        >
          <p
            style="text-align: justify;color: black;font-size: 9pt;font-family: Arial, Helvetica, sans-serif;"
          >Aprob&oacute;: Sistema Integrado de Gesti&oacute;n</p>
        </td>
      </tr>
      <tr>
        <td
          width="208"
          style="border-left: 1pt solid windowtext;border-right: 1pt solid windowtext;border-top: none;border-bottom: 1pt solid windowtext;"
        >
          <p style="text-align: justify;color: black;font-size: 9pt;font-family: Arial, Helvetica, sans-serif;">Fecha: 18
            de octubre de 2016</p>
        </td>
        <td
          width="220"
          style="border-left: none;border-right: 1pt solid windowtext;border-top: none;border-bottom: 1pt solid windowtext;"
        >
          <p style="text-align: justify;color: black;font-size: 9pt;font-family: Arial, Helvetica, sans-serif;">Fecha: 21
            de octubre de 2016</p>
        </td>
        <td
          width="217"
          style="border-left: none;border-right: 1pt solid windowtext;border-top: none;border-bottom: 1pt solid windowtext;"
        >
          <p style="text-align: justify;color: black;font-size: 9pt;font-family: Arial, Helvetica, sans-serif;">Fecha: 24
            de octubre de 2016</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>