<div
  style="display: flex;
      justify-content: center;
      width: 100vw;
      margin: 0;"
>
  <table
    width="645"
    style="text-align: start;color: rgb(0, 0, 0);background-color: rgb(255, 255, 255);font-size: 14px;border: none;border-collapse: collapse; margin: 0 auto;"
  >
    <tbody>
      <tr>
        <td
          width="142"
          height="15"
          rowspan="2"
          style="border: 1pt solid windowtext;"
        >
          <div style="margin-left: 25px;">
            <img
              src="data:image/png;base64, {{logoSapiencia}}"
              width="99"
              height="99"
            />
          </div>
        </td>
        <td
          width="241"
          height="15"
          rowspan="2"
          style="border-left: none;border-right: 1pt solid windowtext;border-top: 1pt solid windowtext;border-bottom: 1pt solid windowtext;"
        >
          <p
            align="center"
            style="text-align: center;color: black;font-size: 10pt;"
          >FORMATO</p>
        </td>
        <td
          width="213"
          height="15"
          style="border-left: none;border-right: 1pt solid windowtext;border-top: 1pt solid windowtext;border-bottom: 1pt solid windowtext;"
        >
          <p
            align="center"
            style="text-align: center;color: black;font-size: 10pt;"
          >C&oacute;digo F-AP-GATH-052</p>
        </td>
      </tr>
      <tr>
        <td
          height="20"
          width="213"
          style="border-left: none;border-right: 1pt solid windowtext;border-top: none;border-bottom: 1pt solid windowtext;"
        >
          <p
            align="center"
            style="text-align: center;color: black;font-size: 10pt;"
          > Versi&oacute;n: 01</p>
        </td>
      </tr>
      <tr>
        <td
          width="382"
          height="15"
          colspan="2"
          style="border-left: 1pt solid windowtext;border-right: 1pt solid windowtext;border-top: none;border-bottom: 1pt solid windowtext;"
        >
          <p
            align="center"
            style="text-align: center;color: black;font-size: 10pt;"
          >CERTIFICADO LABORAL</p>
        </td>
        <td
          width="213"
          height="15"
          style="border-left: none;border-right: 1pt solid windowtext;border-top: none;border-bottom: 1pt solid windowtext;"
        >
          <p
            align="center"
            style="text-align: center;color: black;font-size: 10pt;"
          >P&aacute;gina&nbsp;<span class="pageNumber" style=""></span>
            de
            <span class="totalPages" style=""></span></p>
        </td>
      </tr>
    </tbody>
  </table>
  <br />
</div>